.caption {
  position: sticky;
  top: 0px;
  min-width: 200px;
  padding: 10px;
  background-color: rgb(218, 238, 255);
  color: rgb(75, 71, 71);
  border-top: 0px;
  cursor: pointer;
}

.sort-low, .sort-high {
  background-color: rgb(173, 217, 255);
}

.sort-low:after {
  content: "▼";
  position: absolute;
  right: 20px;
}

.sort-high:after {
  content: "▲";
  position: absolute;
  right: 20px;
}